In [10]:
import json
import numpy as np
import pandas as pd
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from datetime import datetime
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from datetime import datetime
import joblib

In [3]:
df=pd.read_csv('Stockprice.csv')
##df.drop(['<OpenFixed>','<HighFixed>','<LowFixed>','<CloseFixed>','<VolumeDeal>','<VolumeFB>','<VolumeFS>'],1,inplace = True)
##df[['date']] = df[['<DTYYYYMMDD>']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[4:6],s[6:], s[0:4]))
df.drop(['DTYYYYMMDD'],1, inplace = True)
df.drop(['Year'],1,inplace = True)
df.drop(['Doy'],1,inplace=True)
df

,Ticker,Volume,Open,High,Low,Close,date
0,AAA,996980,11.05000,11.30000,11.00000,11.20000,4 Nov 2020
1,AAA,556250,11.05000,11.05000,10.95000,11.00000,3 Nov 2020
2,AAA,634490,10.95000,11.00000,10.85000,11.00000,2 Nov 2020
3,AAA,1028570,11.00000,11.00000,10.80000,10.90000,30 Oct 2020
4,AAA,1207870,11.00000,11.05000,10.80000,10.85000,29 Oct 2020
...,...,...,...,...,...,...,...
1439760,YEG,10610,296.70001,296.70001,296.70001,296.70001,2 Jul 2018
1439761,YEG,1800,321.00000,321.00000,319.00000,319.00000,29 Jun 2018
1439762,YEG,76700,342.00000,343.39999,342.00000,343.00000,28 Jun 2018
1439763,YEG,16860,321.00000,321.00000,321.00000,321.00000,27 Jun 2018
1439764,YEG,6100,300.00000,300.00000,300.00000,300.00000,26 Jun 2018

In [4]:
##df['month'] = df['date'].dt.month

df['2 Days STD']=df.groupby('Ticker').Close.apply(lambda x: x.rolling(window=2).std().shift(-1))
df['2 Days MA']=df.groupby('Ticker').Close.apply(lambda x: x.rolling(window=2).mean().shift(-1))
df['H-L']=df['High']-df['Low']
df['C-O']=df['Close']-df['Open']
df['7 Days STD']=df.groupby('Ticker').Close.apply(lambda x: x.rolling(window=7).std().shift(-6))
df['7 Days MA']=df.groupby('Ticker').Close.apply(lambda x: x.rolling(window=7).mean().shift(-6))
df['14 Days MA']=df.groupby('Ticker').Close.apply(lambda x: x.rolling(window=14).mean().shift(-13))
df['21 Days MA']=df.groupby('Ticker').Close.apply(lambda x: x.rolling(window=21).mean().shift(-20))
df.replace([np.inf,-np.inf],np.nan,inplace=True)
df.dropna(inplace=True)
df.tail(22)

,Ticker,Volume,Open,High,Low,Close,date,2 Days STD,2 Days MA,H-L,C-O,7 Days STD,7 Days MA,14 Days MA,21 Days MA
1439723,YEG,890,195.00000,197.50000,195.00000,195.50000,22 Aug 2018,1.767767,196.750000,2.50000,0.50000,1.151810,196.500003,196.157144,202.185714
1439724,YEG,19930,197.80000,198.10001,196.00000,198.00000,21 Aug 2018,0.141421,197.900000,2.10001,0.20000,1.064134,196.671431,195.842859,204.066666
1439725,YEG,60190,197.89999,198.50000,185.00000,197.80000,20 Aug 2018,1.979899,196.400000,13.50000,-0.09999,1.043804,196.242860,196.050001,205.161904
1439726,YEG,10480,195.00000,198.89999,194.50000,195.00000,17 Aug 2018,0.707107,195.500000,4.39999,0.00000,0.875053,196.128574,196.378572,206.600000
1439727,YEG,510,197.10001,197.10001,190.10001,196.00000,16 Aug 2018,0.777825,196.550005,7.00000,-1.10001,0.764698,196.414289,196.907143,208.976190
1439728,YEG,1750,198.20000,198.20000,193.50000,197.10001,15 Aug 2018,0.707107,196.600010,4.70000,-1.09999,1.196822,196.128574,198.450001,211.304760
1439729,YEG,6220,198.39999,199.00000,192.00000,196.10001,14 Aug 2018,0.424257,196.400005,7.00000,-2.29998,2.184688,195.257144,201.078571,213.299998
1439730,YEG,360,199.70000,199.70000,195.00000,196.70000,13 Aug 2018,1.202082,195.850000,4.70000,-3.00000,2.835741,195.814286,205.028569,215.628569
1439731,YEG,3080,195.00000,198.80000,195.00000,195.00000,10 Aug 2018,1.414214,196.000000,3.80000,0.00000,3.296677,195.014287,207.764284,217.947616
1439732,YEG,480,196.00000,199.70000,195.00000,197.00000,9 Aug 2018,0.000004,197.000000,4.70000,1.00000,3.976534,195.857143,209.621426,220.280950
1439733,YEG,2220,196.30000,197.00000,194.00000,197.00000,8 Aug 2018,2.121320,195.500000,3.00000,0.70000,4.694216,196.628570,211.835712,222.804759
1439734,YEG,230,192.00000,195.00000,192.00000,194.00000,7 Aug 2018,2.121320,192.500000,3.00000,2.00000,5.183622,197.399997,215.257140,225.638092
1439735,YEG,2210,200.00000,200.00000,191.00000,191.00000,6 Aug 2018,6.363961,195.500000,9.00000,-9.00000,8.926873,200.771427,218.892854,227.861902
1439736,YEG,620,200.00000,200.00000,195.00000,200.00000,3 Aug 2018,6.293243,195.550005,5.00000,0.00000,14.243359,206.899997,222.321425,229.480950
1439737,YEG,1560,195.00000,199.89999,187.00000,191.10001,2 Aug 2018,6.929632,196.000000,12.89999,-3.89999,21.495954,214.242853,225.535711,231.433330
1439738,YEG,1150,200.00000,202.00000,190.80000,200.89999,1 Aug 2018,1.060660,201.649990,11.20000,0.89999,19.968345,220.514280,229.414281,234.557140
1439739,YEG,860,200.10001,202.39999,200.00000,202.39999,31 Jul 2018,0.000004,202.399990,2.39999,2.29998,18.028720,223.385710,232.492853,238.133331
1439740,YEG,29730,202.39999,202.50000,202.39999,202.39999,30 Jul 2018,10.748037,210.000000,0.10001,0.00000,15.478355,227.042854,235.892854,242.623808
1439741,YEG,5750,217.60001,218.20000,217.60001,217.60001,27 Jul 2018,11.525826,225.750000,0.59999,0.00000,12.186383,233.114283,239.757140,248.176190
1439742,YEG,590,233.89999,248.00000,233.89999,233.89999,26 Jul 2018,12.374369,242.649990,14.10001,0.00000,10.667615,237.014280,241.407139,254.147618
1439743,YEG,6190,220.50000,251.39999,218.60001,251.39999,25 Jul 2018,11.596544,243.199995,32.79998,30.89999,10.593367,237.742853,240.771426,258.295237
1439744,YEG,5680,219.10001,235.00000,207.00000,235.00000,24 Jul 2018,9.899495,228.000000,28.00000,15.89999,9.430571,236.828569,240.028569,260.609523

In [5]:
X = df[['Volume','21 Days MA','14 Days MA','7 Days MA','7 Days STD']]
Y = df[['Close']]
X
Y

             Close
0         11.20000
1         11.00000
2         11.00000
3         10.90000
4         10.85000
...            ...
1439740  202.39999
1439741  217.60001
1439742  233.89999
1439743  251.39999
1439744  235.00000

[1425049 rows x 1 columns]

In [6]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = .20)

In [7]:
lr_model=LinearRegression()
lr_model.fit(x_train,y_train)
y_pred=lr_model.predict(x_test)

In [8]:
kfold = model_selection.KFold(n_splits=20, random_state =100)
result_kfold = model_selection.cross_val_score(lr_model,x_test,y_test,cv=kfold)
print("Accuracy: ", result_kfold.mean()*100)

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

Accuracy:  99.52847644208335

In [25]:
df_input=pd.read_csv('excel_aaa.csv')

In [26]:
individual_stock=df_input
individual_stock[['date']] = individual_stock[['<DTYYYYMMDD>']].applymap(str).applymap(lambda s:"{}/{}/{}".format(s[4:6],s[6:],s[0:4]))
individual_stock.rename(columns={'<Ticker>': 'Ticker','<Volume>': 'Volume','<Open>': 'Open','<High>': 'High','<Low>': 'Low','<Close>': 'Close'},inplace=True)
individual_stock.drop(['<DTYYYYMMDD>','<OpenFixed>','<HighFixed>','<LowFixed>','<CloseFixed>','<VolumeDeal>','<VolumeFB>','<VolumeFS>'], axis =1, inplace=True)
individual_stock['7 Days STD']=individual_stock.groupby('Ticker').Close.apply(lambda x: x.rolling(window=7).std().shift(-6))
individual_stock['7 Days MA']=individual_stock.groupby('Ticker').Close.apply(lambda x: x.rolling(window=7).mean().shift(-6))
individual_stock['14 Days MA']=individual_stock.groupby('Ticker').Close.apply(lambda x: x.rolling(window=14).mean().shift(-13))
individual_stock['21 Days MA']=individual_stock.groupby('Ticker').Close.apply(lambda x: x.rolling(window=21).mean().shift(-20))
individual_stock

,Ticker,Volume,Open,High,Low,Close,date,7 Days STD,7 Days MA,14 Days MA,21 Days MA
0,AAA,996980,11.05,11.30,11.00,11.20,11/04/2020,0.170783,11.000000,11.403571,11.676190
1,AAA,556250,11.05,11.05,10.95,11.00,11/03/2020,0.264575,11.050000,11.475000,11.740476
2,AAA,634490,10.95,11.00,10.85,11.00,11/02/2020,0.345722,11.142857,11.564286,11.809524
3,AAA,1028570,11.00,11.00,10.80,10.90,10/30/2020,0.395209,11.242857,11.646429,11.864286
4,AAA,1207870,11.00,11.05,10.80,10.85,10/29/2020,0.395209,11.357143,11.735714,11.928571
...,...,...,...,...,...,...,...,...,...,...,...
2563,AAA,75800,45.20,45.40,44.00,45.10,07/21/2010,NaN,NaN,NaN,NaN
2564,AAA,328700,48.00,48.00,44.50,45.20,07/20/2010,NaN,NaN,NaN,NaN
2565,AAA,104900,49.50,49.50,46.30,46.30,07/19/2010,NaN,NaN,NaN,NaN
2566,AAA,109200,49.50,49.50,46.50,46.50,07/16/2010,NaN,NaN,NaN,NaN
2567,AAA,174100,51.00,53.00,48.00,48.70,07/15/2010,NaN,NaN,NaN,NaN

In [13]:
train_mode = dict(x_train.mode().iloc[0])
print(train_mode)

{'Volume': 100.0, '21 Days MA': 5.966666676190476, '14 Days MA': 7.0, '7 Days MA': 7.0, '7 Days STD': 0.0}

In [31]:
joblib.dump(lr_model,"./linear_regression.joblib",compress=True)

['./linear_regression.joblib']

In [32]:
joblib.dump(individual_stock,"./train_mode.joblib",compress=True)

['./train_mode.joblib']